layout {
  tab hide_floating_panes=true {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane split_direction="horizontal" {
      pane split_direction="vertical" {
        pane stacked=true {
          pane {
            command "zsh"
          }
        }
        pane stacked=true {
          pane start_suspended=true {
            command "claude"
          }
          pane {
            command "codex"
          }
        }
      }
    }
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
