layout {
  tab hide_floating_panes=true {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane {
      command "opencode"
    }
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
