layout {
  tab hide_floating_panes=true {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane stacked=true {
      pane {
        command "codex"
        args "review" "--base" "main"
      }
      pane {
        command "codex"
        args "review" "--base" "main"
      }
      pane {
        command "codex"
        args "review" "--base" "main"
      }
    }
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
