{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $github_username := promptStringOnce . "github_username" "GitHub username" -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  github_username = {{ $github_username | quote }}

{{- if eq .chezmoi.os "darwin" }}
  homebrew_prefix = "/opt/homebrew"
  is_macos = true
  is_linux = false
{{- else if eq .chezmoi.os "linux" }}
  homebrew_prefix = "/home/linuxbrew/.linuxbrew"
  is_macos = false
  is_linux = true
{{- else }}
  homebrew_prefix = ""
  is_macos = false
  is_linux = false
{{- end }}

# Editor preferences
  editor = "nvim"
  shell = "/bin/zsh"
